body {
	background-image: url("img/stars.jpg");
    }

.panel {
  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial; }

.panel.panel-default {
  background: AliceBlue;
  border-color: khaki;
  border-radius: 5px;
  border-width: 5px; }


.panel.panel-default.interior{
  background: rgba(155, 38, 77, 0.5);
  font-size: 50%;
}

#textBoxPanel{
  height: 500px;
}
#alienPic{
    position: absolute;
    left: 0px;
    bottom: -50px;
    z-index: -1;
}

#textBox{
  font-size: 20px;
}

#titleBoxDiv{
	padding: 10px;
	text-align: center;
	font-size: 40px;
	color: #3E2CD6;
}

.center{
	margin: auto;
	width: 20%;
	padding: 5px;
}